<div class="container-fluid">
    <h3>For the love of the game.</h3>
    <p>I love card games. That's probably the simplest way to explain it.</p>
    <p>When I was in elementary school, I always looked forward to recess time. I ran to the tables outside our school's cafeteria and began waiting for a game. We had a lot of games at that time. L5R was at it's peak, during which the Dark Lord occupied the jade throne, and the scorpion was led by Bayushi Kachiko. Netrunner was young, Mechwarrior still had some fight, Pokemon was everywhere, but nobody cared.</p>
    <p>I was lucky to have lived at a time when people loved to play, interact, and communicate. People were wary that MTG was a tool of the devil, but everyone was in to MTG those days.</p>
    <p>These days, people are more preoccupied with their electronics, but I believe people still like to interact. Being on that battlefield, engrossed in the game at hand, is a good experience which draws people in. I'd like to bring and spread that experience to everyone.</p>
</div>