<div class="container-fluid">
	<h3>Back to how it was</h3>
	<p>Tabletop games was started in 2016 aimed at reviving the idea of the friendly local game store. Our aim is to setup small stores in residential-commercial establishments with the aim of bringing the community together through social, fun, enaging tabletop activities.</p>
	<p>We aim to bring back &quot;social&quot; from being a digital network to real life communities.</p>
	<h3>People need to see each other</h3>
	<p>In the advent of all the digial revolutions happening all around, social interaction still plays a key role in every person&#39;s development. With engaing new games coming out each year, there&#39;s so much opportunity to get people back together again and engage in fun, exciting, challeging activities.</p>
</div>