<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <h3>Customer Service</h3>
      <p>For support and/or customer service concerns, you may email your concern to the following.</p>
      <p><a href="mailto:customerservice@mytabletop.net">Customer Service Division</a></p>
      <p>Please include specifics (order id, item description) for your concern so we may address your concern properly.</p>
    </div>
    <div class="col-sm-3">
      <h3>Sales</h3>
      <p>For bulk orders, please contact our sales department.</p>
      <p><a href="mailto:sales@mytabletop.net">Sales</a></p>
    </div>
    <div class="col-sm-3">
      <h3>Want to sell something?</h3>
      <p>We might be interested in what you have to sell. Perhaps we can work something out.</p>
      <p>Contact our <a href="mailto:purchasing@mytabletop.net">purchasing</a> department.</p>
    </div>
    <div class="col-sm-3">
      <h3>General concerns</h3>
      <p>For general concerns please use <a href="mailto:contactus@mytabletop.net">this</a> email address. Kindly note that we may or may not respond due to the nature of your concern. We read all messages sent.</p>
    </div>
  </div>
</div>