<div class="container">
  <p>Tabletop Trading started in 2016 as a distributor for card games, board games and accessories. We've just started up and we are expanding our online pressence and building up product inventories. </p>
</div>