<div class="container-fluid">
  <div class="row">
    <span class="clearTop">&nbsp;</span>
  </div>
  <div class="row">
    <div class="text-center"><img alt="tabletop logo" src="/img/tabletop.jpg"></img><!--<h1>Tabletop Trading</h1>--></div>
  </div>
  <div class="row">
    <div class="text-center">Trading card games, board games, and accessories retailer.</div>
  </div>
  <hr />
  <p>Tabletop Trading started in 2016 as a retailer for card games, board games and accessories. We've just started up and we are expanding our online pressence and building up product inventories. </p>
  <p>For any inquires you can check our contact page.</p>
</div>