<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <h3 class="text-center">Cards</h3>
            <ul>
                <li><a href="#">Pokemon TCG</a></li>
                <li><a href="#">Magic:The Gathering</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <h3 class="text-center">Accessories</h3>
            <ul>
                <li><a href="#">Card Sleeves</a></li>
                <li><a href="#">Card Albums</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>