<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="text-center">Card Games</h3>
            <ul>
                <li><a href="#">Pokemon TCG</a></li>
                <li><a href="#">Magic: The Gathering</a></li>
                <li><a href="#">Pixel Tactics</a></li>
                <li><a href="#">Coup</a></li>
                <li><a href="#">Sushi Go!</a></li>
                <li><a href="#">Exploding Kittens</a></li>
                <li>many more...</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Board Games</h3>
            <ul>
                <li><a href="#">BattleCON</a></li>
                <li><a href="#">The Reformist</a></li>
                <li>many more...</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Accessories</h3>
            <ul>
                <li><a href="#">Card Sleeves</a></li>
                <li><a href="#">Card Albums</a></li>
            </ul>
        </div>
    </div>
</div>